@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}
main {
  transition: background-color 0.5s ease, color 0.5s ease;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  margin-top: 0;
  margin-bottom: pxToRem(10);
}
body {
  font-family: $fontFamilyPrimary;
  font-optical-sizing: auto;
  font-weight: $fontWeightRegular;
  font-style: normal;
  margin: 0;
  transition: opacity 0.5s ease;
  background-color: $colorBackgroundLight;
  color: $colorTextDark;
  transition: background-color 0.5s ease, color 0.5s ease;
  &.dark,
  .dark {
    background-color: $colorBackgroundDark;
    color: $colorTextLight;
  }
}

.container {
  margin: 0 auto;

  padding-top: pxToRem(40);
  padding-bottom: pxToRem(40);
  padding-left: pxToRem(20);
  padding-right: pxToRem(20);

  max-width: pxToRem(700);

  @media (min-width: 744px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 1024px) {
    max-width: pxToRem(800);
  }

  @media (min-width: 1280px) {
    max-width: pxToRem(1200);
  }
}
