$fontWeightRegular: 400;
$fontFamilyPrimary: 'Nunito', sans-serif;
$borderRadiusSoft: .5rem;
$borderRadiusRounded: 1rem;
$borderRadiusPill: 9999px;
$colorTextLight: #FFFFFF;
$colorTextDark: #000000;
$colorBackgroundLight: #FFFFFF;
$colorBackgroundDark: #000000;
$colorPokemonTypeNormal: #A8A878;
$colorPokemonTypeFighting: #C03028;
$colorPokemonTypeFlying: #A890F0;
$colorPokemonTypePoison: #A040A0;
$colorPokemonTypeGround: #E0C068;
$colorPokemonTypeRock: #B8A038;
$colorPokemonTypeBug: #A8B820;
$colorPokemonTypeGhost: #705898;
$colorPokemonTypeSteel: #B8B8D0;
$colorPokemonTypeFire: #F08030;
$colorPokemonTypeWater: #6890F0;
$colorPokemonTypeGrass: #78C850;
$colorPokemonTypeElectric: #F8D030;
$colorPokemonTypePsychic: #F85888;
$colorPokemonTypeIce: #98D8D8;
$colorPokemonTypeDragon: #7038F8;
$colorPokemonTypeDark: #705848;
$colorPokemonTypeFairy: #EE99AC;
$colorPokemonTypeStellar: #C0C0C0;
$colorPokemonTypeUnknown: #6D6D4E;
$colorPokemonRed: #CC0000;
$colorPokemonBlue: #0000CC;
$colorPokemonGreen: #00CC00;
$colorPokemonYellow: #FFDE00;
$colorPokemonPurple: #CC00CC;
$colorPokemonPink: #FF00FF;
$colorPokemonOrange: #FF8000;
$colorPokemonBrown: #804000;
$colorPokemonGray: #808080;